<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".activities.AddNewUserActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activities.ChooseStoreActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RuleManagementActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.FoodAdminEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PromoAdminEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PromoAdminDetailActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBosQ4pNoDkbozACtL1XEkyyvkdbwJRqUw" />

        <activity
            android:name=".activities.MapsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.StoreAdminEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StoreAdminDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FoodAdminDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SizeAdminEditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activities.SizeAdminDetailActivity"
            android:exported="false"/>
        <activity
            android:name=".activities.ToppingAdminDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ToppingAdminEditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.MainPageAdminActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>